.block-bell {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(51, 99, 61);
    border: 2px solid white;
}

.block-bell_size {
    width: 90%;
    height: 300px;    
}

.block-bell__button {
    width: 40%;
    height: 15%;
    border: 1px rgb(101, 243, 137) solid;
    border-radius: 15px;
}